.wrapper {
	padding: 0px 10px 0px 10px;
	width: 1180px;
/*	background: url(images/bg/grid/1200px.png) repeat-y;*/
}

.widget-list {
	margin-top: -200px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;

	article {
		border: 1px solid $borderColour;
		box-shadow: $articleBoxShadow;
		padding: 20px 20px;
		background: $articleBg;
		color: $baseFontColor;
		text-align: right;
		border-radius: 5px;

		.icon {
			float: left;
			width: 96px;
			height: 96px;
			margin-top: -30px;
			border-radius: 5px;
		}

		h1 {
			color: #aaa;
		}

		p {
			font-weight: bold;
			line-height: 1.5em;
			font-size: 175%;
		}
	}
}

#main-chart {
	margin-top: 20px;
	article {
		padding: 20px;
		background: $articleBg;
		border: 1px solid $borderColour;
		border-radius: 5px;
		box-shadow: $articleBoxShadow;		
		margin-bottom: 20px;
	}
}

#yearly-track-totals {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	margin-bottom: 20px;
	
	section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		article {
			text-align: center;
			padding: 20px;
			background: $articleBg;
			border: 1px solid $borderColour;
			border-radius: 5px;
			box-shadow: $articleBoxShadow;
			h1 {
				font-size: 175%;
				font-family: 'robotobold';
				line-height: 1.2em;
			}
			h2 {
				color: #aaa;
			}
		}
		article:nth-child(even) {
			background: darken($articleBg,2);
		}
	}
}

#chart-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	margin-bottom: 20px;

	article {
		min-width: 0;
		padding: 20px;
		background: $articleBg;
		border: 1px solid $borderColour;
		border-radius: 5px;
		box-shadow: $articleBoxShadow;	
	}
}

.pie-charts {
    display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	width: 100%;
	article {
		min-width: 0;
		padding: 20px;
		background: $articleBg;
		border: 1px solid $borderColour;
		border-radius: 5px;
		box-shadow: $articleBoxShadow;
	}
}


@media screen and (min-width: 1500px) {
    .wrapper {
		padding: 0px 10px 0px 10px;
		width: 1480px;
		// background: url(images/bg/grid/1500px.png) repeat-y;
	}
}
