/* Registered users Dashboard */
#dashboard-options {
    padding: 50px 0px;
}
.btn-favourite-tracks {
    display: block;
    padding: 40px;
    width: 400px;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
}