/* labels list */

#label-list-gird {    
    box-sizing: border-box;
    padding: 25px 0px 0px 0px;
    display: grid; 
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr
}

#label-list-gird article img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid $borderColour;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

#label-list-gird article {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: $articleBg;
    border: 1px solid $borderColour;
}

#label-list-gird article footer a {
    display: block;
    padding: 20px;
    font-size: 90%;
}

@media screen and (max-width: 500px) {
    #label-list-gird { 
        grid-template-columns: 1fr  		
    }
}

@media screen and (min-width: 501px) and (max-width: 950px) {
    #label-list-gird { 
        grid-template-columns: 1fr 1fr  		
    }
}