/* playlists */

#playlist-grid {    
    box-sizing: border-box;
    padding: 20px 0px 0px 0px;
    display: grid; 
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr
}

#playlist-grid article img {
    width: 100%;
    height: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

#playlist-grid article {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: $articleBg;
    border: 1px solid $borderColour;
}

#playlist-grid article footer a {
    display: block;
    padding: 20px;
    font-size: 90%;
}

@media screen and (max-width: 500px) {
    #playlist-grid { 
        grid-template-columns: 1fr  		
    }
}

@media screen and (min-width: 501px) and (max-width: 950px) {
    #playlist-grid { 
        grid-template-columns: 1fr 1fr  		
    }
}