/* colour Scheme */

$appbarBG: lighten(#121115, 4);
$bodyBGColour: #23313A;

$borderColour: lighten(#212024, 1);
$pageFooterBg: darken($bodyBGColour, 4);
$breadcrumBgColor: lighten($bodyBGColour, 2);
$logoFontColor: #fff;


$articleBg: #27343C;
$articleBoxShadow: 5px 5px 12px -2px rgba(0,0,0,0.10);
$baseFontColor: #DCDCDC;