/* colour Scheme */
//$appbarBG: #0C0C0C linear-gradient(180deg, rgba(12,12,12,1) 0%, rgba(25,24,28,1) 45%, rgba(12,12,12,1) 100%);  
$appbarBG: lighten(#121115, 4);
$bodyBGColour: lighten(#121115, 6);
$bodyBGColourDarken: darken($bodyBGColour, 4);
$accentDarker: #1A1F22;
$borderColour: lighten(#212024, 1);
$pageFooterBg: lighten($bodyBGColour, 2);
$breadcrumBgColor: lighten($bodyBGColour, 2);
$logoFontColor: #fff;
$sectionHeaderFontColor: #ffffff;

$articleBg: lighten(#121115, 3);
$articleBoxShadow: 5px 5px 12px -2px rgba(0,0,0,0.26);
$articleBgLighten: lighten($articleBg, 2);
$articleBgDarken: darken($articleBg, 4);
$articleFontColor: #DCDCDC;
$baseFontColor: #DCDCDC;

$iconBackgroundColour: darken($bodyBGColour, 1);

$trackBasketBGColor: #000;
$trackBasketBgHover: lighten($trackBasketBGColor, 4%);


/* genre colour codes */
$breakbeat: #624634;
$drumAndBass: #000000;
$hardHouse: #FF3F9E;
$hardTrance: #0B7F83;
$house: #0091C0;
$nrg: #D40000;
$techTrance: #872FFF;
$techHouse: #999;
$techno: #E87800;
$trance: #A69400;
$default: #222;


.breakbeat-bg 	{	background: $breakbeat }
.drumandbass-bg { 	background: $drumAndBass }
.hardhouse-bg 	{ 	background: $hardHouse }
.hardtrance-bg 	{ 	background: $hardTrance }
.house-bg 		{	background: $house }
.nrg-bg 		{	background: $nrg }
.tech-house-bg  {   background: $techHouse }
.techtrance-bg 	{	background: $techTrance }
.techno-bg 		{	background: $techno }
.trance-bg 		{	background: $trance }
.default-bg 	{	background: $default }



.breakbeat {    border-bottom: 3px solid $breakbeat }
.drumandbass { 	border-bottom: 3px solid $drumAndBass}
.hardhouse { 	border-bottom: 3px solid $hardHouse }
.hardtrance { 	border-bottom: 3px solid $hardTrance }
.house {		border-bottom: 3px solid $house}
.nrg { 			border-bottom: 3px solid $nrg }
.tech-house {	border-bottom: 3px solid $techHouse }
.techtrance {	border-bottom: 3px solid $techTrance }
.techno {		border-bottom: 3px solid $techno}
.trance {		border-bottom: 3px solid $trance }
.default {		border-bottom: 3px solid $default }	