body {
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 100%; 
	font-weight: normal;
	background: $bodyBGColour;
	color: #DCDCDC;
}
body, html {
    height: 100%;
}
.clear {
	clear: both;
}

a {
	 text-decoration: none
}

strong {
	font-weight: bold
}

.wrapper {
	margin: 0px auto;
}

.float-right {
	float: right
}

#logo {
	float: left;
	display: block;
	text-align: center;
	color: #fff;
    font-family: 'montserratbold';
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 100%;
	border-right: 1px solid $borderColour;
	padding: 37px 20px 32px 20px;
}
#logo span {
	color: #ccc;
}

#appbar {
	display: block;
	background: $appbarBG;
	min-height: 86px;
	border-bottom: 1px solid $borderColour;
}
#appbar ul li a {
	display: block;
	float: left;
	border-right: 1px solid $borderColour;
	padding: 35px 35px;
	color: #fff;
}
#appbar ul li a:hover {
	background: #000;
	color: #fff;
}

#page-footer {
	min-height: 125px;
	background: $pageFooterBg;
	margin-top: 50px;
	border-top: 1px solid $borderColour;
}

/************************/ 
/*		Breadcrums		*/
/************************/
#breadcrums {	
	background: $breadcrumBgColor;
	padding: 5px 20px 5px 20px;
}
#breadcrums ul li {
	color: $baseFontColor;
	font-size: 90%;
	display: inline-block;
}
#breadcrums ul li a {
	display: block;	
	color: $baseFontColor;
	padding: 10px 12px 10px 0px;
}
#breadcrums ul li.active-breadcrum {
	color: $baseFontColor;
	padding: 10px 12px 10px 11px;
}

/************************/ 
/*		Pagination 		*/
/************************/

.pagination {
	// background: #fff;
	// border: 1px solid #E6E6E6;
	// border-radius: 5px;
	margin-top: 20px;	
	margin-bottom: 20px;	
	clear: both;
	padding: 20px 20px 10px 20px;
	text-align: center;
}
.pagination li {
	font-size: 100%;
	letter-spacing: 1px;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
	
}
.pagination li a, .pagination .active {
	padding: 18px 25px 18px 25px;
	background: $articleBg;
	color: #fff;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid $borderColour;
}
.pagination .active {
	background: #1081CC;
	border: 1px solid #1081CC;
	color: #fff;
}
.pagination .disabled {
	display:none
}

/************************/ 
/*		Tables			*/
/************************/

.table-con {
	margin-top: 40px;
	padding: 20px;
	// background: #fff;
	// border: 1px solid #E6E6E6;
	// border-radius: 5px;
}

.section-header {
	font-size: 200%;
	color: $baseFontColor;
	// background: #000;
	padding: 20px 0px;
	margin-bottom: 40px;
}

table {
	width: 100%;
	font-size: 90%
}

table th {
	font-weight: bold;
	text-align: left;
	// border: 1px solid #ddd;
	background: $bodyBGColour;
	padding: 0px 0px 0px 20px;
	line-height: 1.0em;
	color: $baseFontColor;
}

table tr td {
	padding: 5px 10px 5px 20px;
	border-top: 10px solid $bodyBGColour;
	height: 60px;
	vertical-align: middle;
	border-radius: 20px;
	color: $baseFontColor;

}

table tr {
	border: 0px solid #ddd;
	// background: #fff url(images/table-cell-bg.gif) repeat-x;
	background: $articleBg;

}

// table tr:nth-child(odd) {
// 	background: #fff;
// }

table tfoot td {
	text-align: right;
	background: darken($articleBg, 2);

	padding: 20px;
	border-radius: 0;
	a {
		color: #fff;
	}
}

table th.access-level {
	width: 125px;
}

table tr td.selectedId {
	padding: 0px 15px;
}

table tbody tr:hover {
	padding: 20px;
	background: darken($articleBg, 2);
	box-shadow: $articleBoxShadow;
	font-weight: bold;
}

.table-col-title {
	width: 40%;
}
.table-col-record-label {
	width: 22%;
}
.table-col-purchase-date {
	width: 15%;
}

/************************/ 
/*		  Form	 		*/
/************************/

/* logout form */
.logout-form button {	
	padding: 15px 20px;
	float: right;
	margin: 16px 20px 10px 20px;
}

/* form styles */
#form-con {
	border: 20px solid #fff;
	background: #FAFAFA;
	padding: 0px 20px 20px 20px;
	width: 860px;
	margin-bottom: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  	box-shadow: 0 4px 4px -4px #bbb;
}

#form-con h2 {
	font-size: 125%;
	margin-top: 0px;
	margin-bottom: 20px;
}

#form-con label {
	display: block;
	font-size: 100%;
	color: #222;
	margin-bottom: 10px;
	margin-top: 40px;
}

input, textarea, select {
	color: #555;
	padding: 10px 10px;
	font-size: 100%;
	border: 1px solid #ccc;
	border-radius:4px;
/*	margin-bottom: 40px; */
}

#form-con input, textarea, select {
	width: 840px
}

#form-con input.selectedId {
	height: 20px;
	width: 20px;
	padding: 0px;
}

#form-con select {
	width: 100%;
}

#form-con .input-field-bpm {
	width: 75px;
}

#form-con .input-field-filename {
	width: 400px;
}

#form-con button {	
	display: block;	
	padding: 20px 70px;
	margin: 40px auto 0px auto
}

#form-con .form-input-error {
	display: block;
	font-size: 100%;
	padding: 10px;
	color: red;
	margin-top: 0px;
	margin-bottom: 35px;
	width: 880px;
}

#form-con hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #bbb;
    margin-top: 50px;
    padding: 0; 
}