.icon-track {
	background: #DCDCDC url(images/bg/icons/dark/track_64x64.png) no-repeat center;
}

.icon-artist {
	background: #9D5F6F url(images/bg/icons/artist_64x64.png) no-repeat center;
}

.icon-record-label {
	background: #719F7B url(images/bg/icons/record_label_64x64.png) no-repeat center;
}
	
.icon-album {
	background: #50A6B6 url(images/bg/icons/album_64x64.png) no-repeat center;
}