.icon-track {
	background: #FD8B05 url(images/bg/icons/track_64x64.png) no-repeat center;
}

.icon-artist {
	background: #EB4744 url(images/bg/icons/artist_64x64.png) no-repeat center;
}

.icon-record-label {
	background: #53AD55 url(images/bg/icons/record_label_64x64.png) no-repeat center;
}
	
.icon-album {
	background: #0EB4C8 url(images/bg/icons/album_64x64.png) no-repeat center;
}

.icon-database {
  background: #1C80A5 url(images/bg/icons/database.png) no-repeat center;
  text-align: center;
}

.icon-tools {
  background: #1C80A5 url(images/bg/icons/tools.png) no-repeat center;
  text-align: center;
}

.icon-reports {
  background: #1C80A5 url(images/bg/icons/reports.png) no-repeat center;
  text-align: center;
}