/* colour Scheme */
$appbarBG: rgb(23,34,40);
$appbarBG: linear-gradient(0deg, rgba(26,38,46,1) 0%, rgba(36,52,61,1) 46%, rgba(24,35,42,1) 100%);

$baseFontColor: #F0F0F0;

$bodyBGColour: #1D2A32;
$pageFooterBg: darken($bodyBGColour, 3);
$accentDarker: #1A1F22;
$borderColour: lighten(#212024, 2);
$borderColourLighten: lighten($borderColour, 5%);
$logoFontColor: $baseFontColor;
$sectionHeaderFontColor: $baseFontColor;

$articleBg: #27343C;
$articleBoxShadow: 5px 5px 12px -2px rgba(0,0,0,0.10);


$trackBasketBGColor: #000;
$trackBasketBgHover: lighten($trackBasketBGColor, 4%);


/* genre colour codes */

$breakbeat: #624634;
$drumAndBass: #000000;
$hardHouse: #FF3F9E;
$hardTrance: #0B7F83;
$house: #0091C0;
$nrg: #fd1d1d;
$techTrance: #872FFF;
$techHouse: #3C883C;
$techno: #FF6600;
$trance: #D0BA00;
$default: #222;
$progressiveTrance: #B0004B;


.breakbeat-bg { background: $breakbeat }
.drum-and-bass-bg { background: $drumAndBass }
.hard-house-bg 	{ background: $hardHouse }
.hard-trance-bg { background: $hardTrance }
.house-bg { background: $house }
.nrg-bg { background: $nrg }
.tech-house-bg { background: $techHouse }
.tech-trance-bg { background: $techTrance }
.techno-bg { background: $techno }
.trance-bg { background: $trance }
.default-bg { background: $default }
.progressive-trance-bg { background: $progressiveTrance }


.breakbeat { border-bottom: 4px solid $breakbeat }
.drum-and-bass { border-bottom: 4px solid $drumAndBass}
.hard-house { border-bottom: 4px solid $hardHouse }
.hard-trance { border-bottom: 4px solid $hardTrance }
.house { border-bottom: 4px solid $house}
.nrg { border-bottom: 4px solid $nrg }
.tech-house { border-bottom: 4px solid $techHouse }
.tech-trance { border-bottom: 4px solid $techTrance }
.techno { border-bottom: 4px solid $techno}
.trance { border-bottom: 4px solid $trance }
.default { border-bottom: 4px solid $default }	
.progressive-trance { border-bottom: 4px solid $progressiveTrance }