@media screen and (min-width: 494px) {   
    .wrapper {
        width: 494px;
        padding: 0px 20px;
        margin: 0px auto;
        box-sizing: border-box;
        // background: url(images/grid/494px.png) repeat-y;
    }
}

@media screen and (min-width: 728px) {
    .wrapper {
        width: 728px;
        padding: 0px 20px;
        margin: 0px auto;
        // background: url(images/grid/728px.png) repeat-y;        
    }
}

@media screen and (min-width: 964px) {
    .wrapper {
        width: 964px;
        padding: 0px 20px;
        margin: 0px auto;
        // background: url(images/grid/964px.png) repeat-y;        
    }
}

@media screen and (min-width: 1200px) {
    .wrapper {
        width: 1200px;
        padding: 0px 20px;
        margin: 0px auto;
        // background: url(images/grid/1200px.png) repeat-y;        
    }
}

@media screen and (min-width: 1436px) {
    .wrapper {
        width: 1436px;
        padding: 0px 20px;
        margin: 0px auto;
        // background: url(images/grid/1436px.png) repeat-y;       
    }
}