.track-listings {
    box-sizing: border-box;
    display: grid;
    margin-top: 20px;
    grid-gap: 20px;

	article {
		box-sizing: border-box;
		border-radius: 5px;
		width: 216px;
		min-height: 420px;	
		position:relative; 
		background-color: $articleBg;	
		box-shadow: $articleBoxShadow;			

		img {	
			width: 100%;
			height: 216px;
			border-bottom: 1px solid $borderColour;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			margin-bottom: -3px;
		}

		.overlay {
			position:absolute;
			left:0px;
			top:0px;
			display:block;  
			width: 100%;
			height: 216px;
		}
		.overlay:hover {
			background: url(images/trans_fill94.png) repeat;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}

		.track-details {
			padding: 12px 15px 2px 15px;
			min-height: 140px;

			.artist-list li {	
				display: inline-block;
				font-size: 85%;
				font-family: 'robotobold';	
				padding: 2px 5px 3px 0px;
				border-right: 1px solid #ccc;
				a {
					color: $baseFontColor; 
				}
			}
			.artist-list li:last-child {
				border: 0px
			}

			h1, h3 {
				font-family: 'robotolight';	
				padding: 3px 0px;
				font-size: 75%;
				color: $baseFontColor; 
				line-height: 1.3em;
			}
			h2 {
				font-family: 'robotobold';	
				padding: 2px 0px 1px 0px;
				font-size: 75%;  
				a {
					color: $baseFontColor;
				} 
			}
		}

		footer {
			font-size: 75%;
			ul {
				li {
					text-align: center;
					float: left;
					width: 50%;
					border-top: 1px solid $borderColour;
					a {
						box-sizing: border-box;
						display: block;
						padding: 20px 0px 20px 0px;
						color: $baseFontColor; 
					}
					a:hover {
						background: darken($articleBg, 3);
					}
				}
				li:first-child {
					box-sizing: border-box;
					border-right: 1px solid $borderColour;					
				}
			}		
		}
	} 
}

@media screen and (min-width: 494px) {
	.track-listings {
        grid-template-columns: 216px 216px;
    }
}

@media screen and (min-width: 728px) {
	.track-listings {
        grid-template-columns: 216px 216px 216px;
    }
}

@media screen and (min-width: 964px) {
	.track-listings {
        grid-template-columns: 216px 216px 216px 216px; 
    }
}

@media screen and (min-width: 1200px) {
	.track-listings {
        grid-template-columns: 216px 216px 216px 216px 216px;   
    }
}

@media screen and (min-width: 1436px) {
	.track-listings {
        grid-template-columns: 216px 216px 216px 216px 216px 216px;   
    }
}