/* colour Scheme */
/* genre colour codes */
.breakbeat-bg {
  background: #624634;
}

.drum-and-bass-bg {
  background: #141414;
}

.hard-house-bg {
  background: #C3558B;
}

.hard-trance-bg {
  background: #227E7D;
}

.house-bg {
  background: #2E91AE;
}

.nrg-bg {
  background: #BE3232;
}

.tech-house-bg {
  background: #3C883C;
}

.tech-trance-bg {
  background: #8B59D5;
}

.techno-bg {
  background: #CB7135;
}

.trance-bg {
  background: #A5982B;
}

.default-bg {
  background: #222;
}

.progressive-trance-bg {
  background: #AD2F67;
}

.breakbeat {
  border-bottom: 4px solid #624634;
}

.drum-and-bass {
  border-bottom: 4px solid #141414;
}

.hard-house {
  border-bottom: 4px solid #C3558B;
}

.hard-trance {
  border-bottom: 4px solid #227E7D;
}

.house {
  border-bottom: 4px solid #2E91AE;
}

.nrg {
  border-bottom: 4px solid #BE3232;
}

.tech-house {
  border-bottom: 4px solid #3C883C;
}

.tech-trance {
  border-bottom: 4px solid #8B59D5;
}

.techno {
  border-bottom: 4px solid #CB7135;
}

.trance {
  border-bottom: 4px solid #A5982B;
}

.default {
  border-bottom: 4px solid #222;
}

.progressive-trance {
  border-bottom: 4px solid #AD2F67;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-weight: normal;
  background: #1D2A32;
  color: #F0F0F0;
}

@media screen and (min-width: 494px) {
  .wrapper {
    width: 494px;
    padding: 0px 20px;
    margin: 0px auto;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 728px) {
  .wrapper {
    width: 728px;
    padding: 0px 20px;
    margin: 0px auto;
  }
}
@media screen and (min-width: 964px) {
  .wrapper {
    width: 964px;
    padding: 0px 20px;
    margin: 0px auto;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    padding: 0px 20px;
    margin: 0px auto;
  }
}
@media screen and (min-width: 1436px) {
  .wrapper {
    width: 1436px;
    padding: 0px 20px;
    margin: 0px auto;
  }
}
.track-added {
  background-color: #262529;
  color: #aaa;
}

h1 {
  font-family: "robotobold";
}

p {
  line-height: 1.4em;
  font-size: 85%;
}

a {
  text-decoration: none;
  color: #F0F0F0;
}

#page-footer {
  background: #172228;
  margin-top: 50px;
}
#page-footer a {
  padding: 20px 0px 20px 0px;
  display: block;
}
#page-footer a.logo {
  float: left;
  font-size: 100%;
  font-family: "montserratbold";
  color: #F0F0F0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#page-footer a.cms-login {
  float: right;
}

#page-header, .section-header {
  font-size: 100%;
  letter-spacing: 1.5px;
  color: #F0F0F0;
  box-sizing: border-box;
  padding: 40px 0px 0px 0px;
  text-transform: uppercase;
}

#page-header span {
  float: right;
  cursor: pointer;
}

.section-header a {
  padding: 5px 12px;
  border-radius: 3px;
  float: right;
  text-shadow: 0px 0px 2px #050505;
  color: #fff;
  font-size: 80%;
}

#colour-strip {
  height: 7px;
  background: #ff3f9e;
  background: linear-gradient(90deg, #ff3f9e 0%, #fd1d1d 50%, #ff6600 75%, #d0ba00 100%);
}

#app-bar {
  padding: 20px 0px;
  border-bottom: 1px solid #35333a;
  box-sizing: border-box;
  background: linear-gradient(0deg, #1a262e 0%, #24343d 46%, #18232a 100%);
}

#logo-con {
  float: left;
}

#logo {
  padding: 20px 0px;
  display: block;
  font-size: 125%;
  font-family: "montserratbold";
  color: #F0F0F0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#main-nav {
  float: left;
  margin-left: 45px;
  margin-top: 23px;
}

#main-nav nav ul li {
  display: inline;
}

#main-nav nav ul li a {
  font-family: "robotobold";
  text-transform: uppercase;
  color: #F0F0F0;
  padding-right: 25px;
}

#auth-links {
  display: grid;
  justify-items: end;
}

#auth-links ul li {
  display: inline;
}

#auth-links ul li a {
  display: inline-block;
  font-family: "robotobold";
  text-transform: uppercase;
  padding: 25px;
}

#auth-links button {
  border: none;
  background: none;
  color: #F0F0F0;
  margin-right: 15px;
  padding: 25px;
  font-size: 100%;
  border-radius: 4px;
  cursor: pointer;
}

#basket-con {
  padding: 0px 0px;
  display: none;
  z-index: 999;
  overflow: hidden;
  background: url(images/bg/basket-trans-90.png) repeat;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid #262529;
}

#basket-link {
  visibility: hidden;
}

#basket-counter {
  margin-right: 5px;
}

#basket-con a {
  border-left: 1px solid #000;
  display: block;
  padding: 8px 40px 8px 60px;
  float: right;
}

#basket-con a.icon-tracks {
  background: #000 url(images/icons/24x24/music.png) no-repeat 30px center;
}

#basket-con a.icon-tracks:hover {
  background: #0a0a0a url(images/icons/24x24/music.png) no-repeat 30px center;
}

/***
    Layout used on the following pages:
        Home Page 
        Genre Homepages
***/
#homepage-layout {
  box-sizing: border-box;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr;
}

#homepage-layout #main {
  box-sizing: border-box;
  margin-right: 20px;
}

#homepage-layout #main #playlists {
  box-sizing: border-box;
  display: grid;
  grid-gap: 20px;
  padding-top: 20px;
  padding-bottom: 18px;
}

#homepage-layout #main #playlists article {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #27343C;
  border: 1px solid #262529;
  box-shadow: 5px 5px 12px -2px rgba(0, 0, 0, 0.1);
}

#homepage-layout #main #playlists footer a {
  display: block;
  padding: 20px;
  font-size: 90%;
  color: #F0F0F0;
}

#homepage-layout #main #playlists article img {
  width: 100%;
  height: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#homepage-layout #popular-tracks {
  box-sizing: border-box;
  min-height: 600px;
}

#homepage-layout #main .track-listings {
  padding: 0px 0px 20px 0px;
}

#homepage-layout #popular-labels {
  box-sizing: border-box;
  padding: 20px 0px;
  display: grid;
  gap: 20px;
}

#popular-labels article img {
  width: 100%;
  height: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#popular-labels article {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #27343C;
  border: 1px solid #262529;
  box-shadow: 5px 5px 12px -2px rgba(0, 0, 0, 0.1);
}

#popular-labels article h2 {
  padding: 15px;
  font-size: 90%;
}

@media screen and (min-width: 494px) {
  #homepage-layout {
    grid-template-columns: 1fr;
  }

  #homepage-layout #main .track-listings {
    grid-template-columns: 216px 216px;
  }

  #homepage-layout #popular-labels {
    grid-template-columns: 1fr 1fr;
  }

  #homepage-layout #popular-labels {
    width: 452px;
  }
}
@media screen and (min-width: 728px) {
  #homepage-layout #main #playlists {
    grid-template-columns: 334px 334px;
  }

  #homepage-layout #main .track-listings {
    grid-template-columns: 216px 216px 216px;
  }

  #homepage-layout #popular-labels {
    width: 728px;
  }

  #homepage-layout #popular-labels {
    grid-template-columns: 334px 334px;
  }
}
@media screen and (min-width: 964px) {
  #homepage-layout #main #playlists {
    grid-template-columns: 452px 452px;
  }

  #homepage-layout #main .track-listings {
    grid-template-columns: 216px 216px 216px 216px;
  }

  #homepage-layout #popular-labels {
    width: 964px;
  }

  #homepage-layout #popular-labels {
    grid-template-columns: 452px 452px;
  }
}
@media screen and (min-width: 1200px) {
  #homepage-layout {
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }

  #homepage-layout #main #playlists {
    grid-template-columns: 1fr 1fr;
  }

  #homepage-layout #main .track-listings {
    grid-template-columns: 216px 216px 216px;
  }

  #homepage-layout #popular-labels {
    width: 480px;
  }

  #homepage-layout #popular-labels {
    grid-template-columns: 452px;
  }
}
@media screen and (min-width: 1436px) {
  #homepage-layout #main .track-listings {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #homepage-layout #popular-labels {
    grid-template-columns: 452px;
  }
}
.track-listings {
  box-sizing: border-box;
  display: grid;
  margin-top: 20px;
  grid-gap: 20px;
}
.track-listings article {
  box-sizing: border-box;
  border-radius: 5px;
  width: 216px;
  min-height: 420px;
  position: relative;
  background-color: #27343C;
  box-shadow: 5px 5px 12px -2px rgba(0, 0, 0, 0.1);
}
.track-listings article img {
  width: 100%;
  height: 216px;
  border-bottom: 1px solid #262529;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: -3px;
}
.track-listings article .overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 100%;
  height: 216px;
}
.track-listings article .overlay:hover {
  background: url(images/trans_fill94.png) repeat;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.track-listings article .track-details {
  padding: 12px 15px 2px 15px;
  min-height: 140px;
}
.track-listings article .track-details .artist-list li {
  display: inline-block;
  font-size: 85%;
  font-family: "robotobold";
  padding: 2px 5px 3px 0px;
  border-right: 1px solid #ccc;
}
.track-listings article .track-details .artist-list li a {
  color: #F0F0F0;
}
.track-listings article .track-details .artist-list li:last-child {
  border: 0px;
}
.track-listings article .track-details h1, .track-listings article .track-details h3 {
  font-family: "robotolight";
  padding: 3px 0px;
  font-size: 75%;
  color: #F0F0F0;
  line-height: 1.3em;
}
.track-listings article .track-details h2 {
  font-family: "robotobold";
  padding: 2px 0px 1px 0px;
  font-size: 75%;
}
.track-listings article .track-details h2 a {
  color: #F0F0F0;
}
.track-listings article footer {
  font-size: 75%;
}
.track-listings article footer ul li {
  text-align: center;
  float: left;
  width: 50%;
  border-top: 1px solid #262529;
}
.track-listings article footer ul li a {
  box-sizing: border-box;
  display: block;
  padding: 20px 0px 20px 0px;
  color: #F0F0F0;
}
.track-listings article footer ul li a:hover {
  background: #212c33;
}
.track-listings article footer ul li:first-child {
  box-sizing: border-box;
  border-right: 1px solid #262529;
}

@media screen and (min-width: 494px) {
  .track-listings {
    grid-template-columns: 216px 216px;
  }
}
@media screen and (min-width: 728px) {
  .track-listings {
    grid-template-columns: 216px 216px 216px;
  }
}
@media screen and (min-width: 964px) {
  .track-listings {
    grid-template-columns: 216px 216px 216px 216px;
  }
}
@media screen and (min-width: 1200px) {
  .track-listings {
    grid-template-columns: 216px 216px 216px 216px 216px;
  }
}
@media screen and (min-width: 1436px) {
  .track-listings {
    grid-template-columns: 216px 216px 216px 216px 216px 216px;
  }
}
/* album list */
#album-list-gird {
  box-sizing: border-box;
  padding: 25px 0px 0px 0px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#album-list-gird article img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #262529;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#album-list-gird article {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #27343C;
  border: 1px solid #262529;
}

#album-list-gird article footer a {
  display: block;
  padding: 20px;
  font-size: 90%;
}

@media screen and (max-width: 500px) {
  #album-list-gird {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 501px) and (max-width: 950px) {
  #album-list-gird {
    grid-template-columns: 1fr 1fr;
  }
}
/* genre list */
#artist-list-gird {
  box-sizing: border-box;
  padding: 20px 0px 0px 0px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
}

#artist-list-gird article {
  padding-right: 20px;
  min-height: 45px;
  border-right: 1px solid #262529;
}

#artist-list-gird article a {
  display: block;
  padding: 12px 20px 12px 0px;
}

#artist-list-gird article a:hover {
  background-color: #27343C;
  border-radius: 5px;
  border: 1px solid #262529;
  padding: 12px 20px 12px 15px;
  transition: background-color, font-size, padding 0.3s;
  font-weight: bold;
  font-size: 110%;
}

#artist-list-gird article a span {
  margin-left: 7px;
  font-size: 90%;
  color: #ccc;
}

@media screen and (min-width: 750px) {
  #artist-list-gird {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1000px) {
  #artist-list-gird {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #artist-list-gird article a:hover {
    font-size: 100%;
  }
}
@media screen and (min-width: 1250px) {
  #artist-list-gird {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #artist-list-gird article a:hover {
    font-size: 110%;
  }
}
@media screen and (min-width: 1500px) {
  #artist-list-gird {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* Registered users Dashboard */
#dashboard-options {
  padding: 50px 0px;
}

.btn-favourite-tracks {
  display: block;
  padding: 40px;
  width: 400px;
  background: #fff;
  border: 1px solid #ccc;
  text-align: center;
}

#basket-options ul li a {
  display: block;
  margin-top: 10px;
  padding: 28px 25px;
  padding-left: 70px;
  color: #fff;
  background: linear-gradient(0deg, #1a262e 0%, #24343d 46%, #18232a 100%);
}

#basket-options ul li a.empty-basket {
  background: linear-gradient(0deg, #1a262e 0%, #24343d 46%, #18232a 100%) url(images/icons/empty_basket.png) no-repeat 10px;
}

#basket-options ul li a.add-to-favourites {
  background: linear-gradient(0deg, #1a262e 0%, #24343d 46%, #18232a 100%) url(images/icons/favorites.png) no-repeat 10px;
}

#basket-options ul li a.purchase {
  background: linear-gradient(0deg, #1a262e 0%, #24343d 46%, #18232a 100%) url(images/icons/basket.png) no-repeat 10px;
}

/* genre list */
#genre-list-gird {
  box-sizing: border-box;
  padding: 25px 0px 0px 0px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

#genre-list-gird article {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #27343C;
  box-shadow: 5px 5px 12px -2px rgba(0, 0, 0, 0.1);
}

#genre-list-gird article h1 {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 35px 20px;
  background-color: #2d3c45;
}

#genre-list-gird article ul {
  padding: 20px 20px 10px 20px;
}

#genre-list-gird article ul li a {
  display: block;
  padding: 25px 20px 25px 45px;
  font-size: 90%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #262529;
}

#genre-list-gird article ul li a span {
  color: #bbb;
}

#genre-list-gird article ul li a.icon-home {
  background: #212c33 url(images/icons/20x20/home.png) no-repeat 20px center;
}

#genre-list-gird article ul li a.icon-home:hover {
  background-color: #27343C;
}

#genre-list-gird article ul li a.icon-music {
  background: #212c33 url(images/icons/24x24/music.png) no-repeat 20px center;
}

#genre-list-gird article ul li a.icon-music:hover {
  background-color: #27343C;
}

@media screen and (max-width: 500px) {
  #genre-list-gird {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 501px) and (max-width: 999px) {
  #genre-list-gird {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1249px) {
  #genre-list-gird {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1250px) {
  #genre-list-gird {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
#filters-overlay h1 {
  font-size: 150%;
  box-sizing: border-box;
  padding: 12px 15px;
  text-transform: uppercase;
}

.filter-group {
  padding: 10px;
  background: #1A1F22;
  border: 1px solid #262529;
  border-radius: 5px;
}

#filters-overlay ul {
  -moz-column-count: 6;
       column-count: 6;
}

#filters-overlay ul li {
  padding: 5px 5px;
}

#filters-overlay label {
  padding: 7px 5px;
}

.modal-overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: url(images/bg/model-trans-bg-98.png) repeat;
  overflow-y: scroll;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.modal-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.modal-overlay a:hover, .modal-overlay a:focus {
  color: #f1f1f1;
}

.modal-overlay .closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 60px;
}

#sortable-fields {
  font-size: 90%;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 25px 0px 10px 0px;
  border-radius: 5px;
}

#sortable-fields ul {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 216px 216px;
}

#sortable-fields ul li a {
  padding: 7px 12px;
  background: #27343C;
  border: 1px solid #262529;
}

#sortable-fields ul li a:hover {
  background-color: #2b3942;
}

#sortable-fields ul li span {
  margin-right: 4px;
}

/* labels list */
#label-list-gird {
  box-sizing: border-box;
  padding: 25px 0px 0px 0px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#label-list-gird article img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #262529;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#label-list-gird article {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #27343C;
  border: 1px solid #262529;
}

#label-list-gird article footer a {
  display: block;
  padding: 20px;
  font-size: 90%;
}

@media screen and (max-width: 500px) {
  #label-list-gird {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 501px) and (max-width: 950px) {
  #label-list-gird {
    grid-template-columns: 1fr 1fr;
  }
}
/* playlists */
#playlist-grid {
  box-sizing: border-box;
  padding: 20px 0px 0px 0px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

#playlist-grid article img {
  width: 100%;
  height: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#playlist-grid article {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #27343C;
  border: 1px solid #262529;
}

#playlist-grid article footer a {
  display: block;
  padding: 20px;
  font-size: 90%;
}

@media screen and (max-width: 500px) {
  #playlist-grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 501px) and (max-width: 950px) {
  #playlist-grid {
    grid-template-columns: 1fr 1fr;
  }
}
.clear {
  clear: both;
}

.pagination {
  clear: both;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
}

.pagination li {
  font-size: 100%;
  letter-spacing: 2px;
  display: inline-block;
  margin-right: 2px;
  border: 1px solid #121212;
  border-radius: 5px;
}

.pagination li a, .pagination .active {
  padding: 15px 20px 15px 20px;
  background: #27343C;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
}

.pagination .active {
  background: #50A6B6;
  border: 1px solid #50A6B6;
}

.pagination .disabled {
  display: none;
}
