.select2-container--default .select2-selection--multiple .select2-selection__choice {

	background-color:#e4e4e4;
	border:1px solid #aaa;
	border-radius:4px;
	cursor:default;
	float:left;
	margin-right:5px;
	margin-top:5px;
	font-size: 90%;
	padding:5px;

}

/* .select2-selection--multiple {

} */

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: yellowgreen !important;
    color: #fff !important;
}