/***
    Layout used on the following pages:
        Home Page 
        Genre Homepages
***/

#homepage-layout {
    box-sizing: border-box;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr;  
}

#homepage-layout #main {
    box-sizing: border-box;
    margin-right: 20px;
}

#homepage-layout #main #playlists {
    box-sizing: border-box;
    display: grid; 
    grid-gap: 20px;
    padding-top: 20px;
    padding-bottom: 18px; 
}
#homepage-layout #main #playlists article {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: $articleBg;
    border: 1px solid $borderColour;
    box-shadow: $articleBoxShadow;
}
#homepage-layout #main #playlists footer a {
    display: block;
    padding: 20px;
    font-size: 90%;
    color: $baseFontColor;
}

#homepage-layout #main #playlists article img {
    width: 100%;
    height: auto; 
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

#homepage-layout #popular-tracks {
    box-sizing: border-box;
    min-height: 600px;
}

#homepage-layout #main .track-listings {
    padding: 0px 0px 20px 0px;
}

#homepage-layout #popular-labels {
    box-sizing: border-box;
    padding: 20px 0px;
    display: grid; 
    gap: 20px; 
}
#popular-labels article img {
    width: 100%;
    height: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}
#popular-labels article {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: $articleBg;
    border: 1px solid $borderColour;
    box-shadow: $articleBoxShadow;
}
#popular-labels article h2 {
    padding: 15px;
    font-size: 90%;
}

@media screen and (min-width: 494px) {
    #homepage-layout {
        grid-template-columns: 1fr
    }
    #homepage-layout #main .track-listings { 
        grid-template-columns: 216px 216px  		
    } 
    #homepage-layout #popular-labels {
        grid-template-columns: 1fr 1fr 
    }
    #homepage-layout #popular-labels {
        width: 452px;
    }
}

@media screen and (min-width: 728px) {
    #homepage-layout #main #playlists {
        grid-template-columns: 334px 334px
    }
    #homepage-layout #main .track-listings { 
        grid-template-columns: 216px 216px 216px  		
    } 
    #homepage-layout #popular-labels {
        width: 728px;

    }
    #homepage-layout #popular-labels {
        grid-template-columns: 334px 334px	
    }
}


@media screen and (min-width: 964px) {
    #homepage-layout #main #playlists {
        grid-template-columns: 452px 452px
    }
    #homepage-layout #main .track-listings { 
        grid-template-columns: 216px 216px 216px 216px 		
    } 
    #homepage-layout #popular-labels {
        width: 964px;
    }  
    #homepage-layout #popular-labels {
        grid-template-columns: 452px 452px
    }
}

@media screen and (min-width: 1200px) {
    #homepage-layout {
        grid-template-columns: 1fr 1fr;
        gap: 0px;
    }
    #homepage-layout #main #playlists {
        grid-template-columns: 1fr 1fr
    }
    #homepage-layout #main .track-listings { 
        grid-template-columns: 216px 216px 216px		
    } 
    #homepage-layout #popular-labels {
        width: 480px;
    }
    #homepage-layout #popular-labels {
        grid-template-columns: 452px;   
    }
}


@media screen and (min-width: 1436px) {
    #homepage-layout #main .track-listings { 
        grid-template-columns: 1fr 1fr 1fr 1fr
    } 
    #homepage-layout #popular-labels {
        grid-template-columns: 452px;
    }
}